* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: rgb(49, 49, 49);
    padding: 18px 0px;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.nav-logo {
    color: white;
    font-size: 20px;
}

.add-btn {
    background-color: white;
    border-style: none;
    color: black;
    padding: 8px 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.15s ease-in;
}

.add-btn:hover {
    opacity: 0.8;
}

.title {
    text-align: center;
    margin-top: 32px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 42px;
}

hr {
    width: 80%;
    margin: 0 auto;
}

#form {
    display: none;
}

/* Margin top currently a placeholder */
.form-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 40%;
    margin: 0 auto;
    margin-top: 96px; 
    padding: 24px 16px;
    border-width: 2px;
    border-style: solid;
    border-radius: 12px;
    box-shadow: 0px 3px 5px gray;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.input-label {
    font-weight: bold;
    font-size: 14px;
    color: rgb(48, 48, 48);
}

.text-input {
    padding: 8px 0;
    padding-left: 6px;
    border-radius: 4px;
    border-style: solid;
}

.radio-container {
    display: flex;
    align-items: center;
    gap: 32px;
}

.radio-set {
    display: flex;
    gap: 10px;
}

.radio {
    cursor: pointer;
}

.submit-btn {
    background-color: rgb(49, 49, 49);
    color: white;
    font-weight: bold;
    padding: 8px 0;
    border-style: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.15s ease-out;
}

.submit-btn:hover {
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: rgb(49, 49, 49);
    border-width: 2px;
    padding: 6px 0px;
    color: black;
}

@media only screen and (max-width: 600px) {
    .form-card {
        width: 70%;
    }
}